*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEBDD;
}

header{
    width: 100%;
    background-color: #3f1419;
    color: #e5d8bb;
    padding: 20px;
    position: fixed;
    z-index: 1;

    h1{
        text-align: center;
        padding-bottom: 5px;
        text-decoration: underline solid 2px;
    }

    ul{
        text-align: center;
    }

    li{
        display: inline;
        padding: 15px;
        text-align: center;

        a{
            color: #979494;
            text-decoration: none;
        }

        a:hover{
            color: #e1d6bd;
        }
    }
}

header.change{
    width: 100%;
    background-color: rgba(250, 249, 234, 0.9);
    padding-top: 10px;
    padding-bottom: 10px;

    h1{
        color: #36161a;
    }
}

.change:hover a:hover{
    opacity: 1;
    color: #8b464f;
}


.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
}

.slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0.3);
}

#menu{
    height: 90%;
    padding-top: 50px;
    padding-right: 10%;
    padding-left: 10%;
}

#title{
    float: left;
    margin-top: 15%;
    margin-left: 5%;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
}

.menuCards{ /* class for the images in the menu section that will display the menu */
    margin-right: 5%;
    display: flex;
    float: right;
    gap: 10px;
    width: 32rem;
    /*background-color: aqua; this works, but set the height in menu to 100% then*/
}

.expand{ /* the id for the images for displaying the menu on the home page */
    float: right;
    position: relative;
    border-radius: 5px;
    height: 33rem;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    flex: 0.5;

    img{
        height: 28rem;
        object-fit: cover;
    }

    button{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        padding: 10px;
        border: 2px solid;
        cursor: pointer;
        border-radius: 4px;
        width: 150px;
        text-align: center;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: large;
        opacity: 0;

        a{
            text-decoration: none;
            color: white;
        }
    }
}

.expand:hover{ /* when mouse pointer is hovered over the expanding menu cards */
    flex: 1 2 0; /* the length of all the cards will be the same when the mouse hovers over the cards */

    img{
        opacity: 0.5;
    }

    button{
        opacity: 1;

        a{
            text-decoration: none;
            color: white;
        }
    }
}

#about{ /*add like, buttons to access the respective pgs (for the menu part too)*/
    background-color: #dacdb3;

    h1{
        float: right;
        margin-top: 12%;
        margin-right: 10%;
        color: #ffffff;
        font-size: 80px;
    }

    img{
        margin-left: 7%;
        width: 50%;
        height: auto;
    }
}


.smallBox{
    li{
        list-style: none;
        width:80%;
        padding: 10px;
        text-align: center;
        margin-bottom: 15px;
        background-color: #611f28;
        font-family: "Mate SC", serif;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        color: #FFF2D7;
    }
}

.box{
    padding: 40px;
    display: block;
    margin-top: 35px;

    h1{
        margin-bottom: 20px;
        text-align: center;
    }

    p{
        margin-bottom: 20px;
        text-align: center;
    }
}

.up{ /* before adding to final, change the order of things */
    position: fixed;
    bottom: 32px;
    right: 40px;
    padding: 10px 15px;
    background-color: 666363;
    color: white;
    border-radius: 8px;
    border: #000000 3px solid;
    cursor: pointer;
    transition: all 0.5s ease 0s;

    .up:hover{
        background-color: #666363;
    }

    .up:active {
        opacity: 0.3;
    }
    
}


button{
    position: fixed;
    top: 32px;
    right: 40px;
    padding: 10px 15px;
    background-color: #666363;
    color: white;
    border-radius: 8px;
    border: #000000 3px solid;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.dark{
    background-color: #151515;
    color: #e5d8bb;

    #about{
        background-color: #252525;
    }

    header{
        color: #e5d8bb;
    }

    header.change{
        background-color: rgba(125, 125, 125, 0.75);

        h1{
            color: #e5d8bb;
        }

        a{
            color: #d6c7a8;
            text-decoration: none;
        }

        a:hover{
            color: #8b464f;
        }
    }
}

footer{
    background-color: #3f1419;
    text-align: center;
    color: #e5d8bb;
    font-size: 20px;
    padding: 20px;
}