*{
    margin: 0;
    padding: 0;
    
}

html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #171717;
}

header{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;

    position: fixed;
    z-index: 1;

    h1{
        text-align: center;
    }

    ul{
        text-align: center;
    }

    li{
        display: inline;
        padding: 15px;
        text-align: center
    }
}

header.change{
    background-color: antiquewhite;
    opacity: 0.5;
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 90%;

}

.slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #ffffff;
}

#menu{
    height: 90%;
    padding-top: 50px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #560963;
}

#title{
    float: left;
    margin-top: 15%;
    margin-left: 5%;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
}

.menuCards{ /* class for the images in the menu section that will display the menu */
    margin-right: 5%;
    display: flex;
    float: right;
    gap: 10px;
    width: 32rem;
    /*background-color: aqua; this works, but set the height in menu to 100% then*/
}

.expand{ /* the id for the images for displaying the menu on the home page */
    float: right;
    position: relative;
    border-radius: 5px;
    height: 33rem;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    flex: 0.5;

    img{
        height: 28rem;
        object-fit: cover;
    }

    button{ /*make it prettier, it's ugly and also link it once menu pg is done*/
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        padding: 5px;
        border: 2px solid;
        cursor: pointer;
        border-radius: 2px;
        width: fit-content;
        text-align: center;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: large;
        opacity: 0;
    }
}

.expand:hover{ /* when mouse pointer is hovered over the expanding menu cards */
    flex: 1 2 0; /* the length of all the cards will be the same when the mouse hovers over the cards */

    img{
        opacity: 0.5;
    }

    button{
        opacity: 1;
    }
}