*{
    margin: 0;
    padding: 0;
    
}

html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #171717;
}

header{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    margin: 5px;

    h1{
        text-align: center;
    }

    ul{
        text-align: center;
    }

    li{
        display: inline;
        padding: 15px;
        text-align: center
    }
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 90%;

}

.slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #ffffff;
}


/*#menu{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 32rem;

    h1{
        padding-right: 20px;
        float: left;
    }
}   
keep this in case it's needed*/

#menu{
    padding-top: 50px;
    height: 90%;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #560963;
}

#title{
    float: left;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
}

#images{
    display: flex;
    float: right;
    gap: 10px;
    width: 32rem;
    /*background-color: aqua; this works, but set the height in menu to 100% then*/
}

.expand{
    float: right;
    position: relative;
    border-radius: 5px;
    height: 33rem;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    flex: 0.5;

    img{
        height: 28rem;
        object-fit: cover;
    }

    /*button{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        padding: 5px;
        border: 2px solid;
        cursor: pointer;
        border-radius: 2px;
        width: fit-content;
        text-align: center;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: large;
      
    }*/
}

.expand:hover{
    flex: 1 2 0;
}