*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEBDD;
    font-family: "Bebas Neue", sans-serif;
}

header{
    width: 100%;
    background-color: #3f1419;
    color: #e5d8bb;
    padding: 20px;
    position: fixed;
    z-index: 1;

    h1{
        font-family: "Caveat", cursive;
        text-align: center;
        padding-bottom: 5px;
        text-decoration: overline solid 2px;
    }

    ul{
        text-align: center;
    }

    li{
        display: inline;
        padding: 15px;
        text-align: center;

        a{
            color: #979494;
            text-decoration: none;
        }

        a:hover{
            color: #e1d6bd;
        }
    }
}

header.change{
    width: 100%;
    background-color: rgba(250, 249, 234, 0.9);
    padding-top: 10px;
    padding-bottom: 10px;

    h1{
        color: #36161a;
    }
}

.change:hover a:hover{
    opacity: 1;
    color: #8b464f;
}

.up{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    bottom: 32px;
    right: 40px;
    padding: 10px 15px;
    background-color: black;
    position: fixed;
    color: #EEEBDD;
    border-radius: 8px;
    border: #EEEBDD 3px solid;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.up:hover{
    opacity: 0.5;
}

.up:active {
    opacity: 0.9;
}

button{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    position: fixed;
    top: 32px;
    right: 40px;
    padding: 10px 15px;
    background-color: black;
    color: #EEEBDD;
    border-radius: 8px;
    border: #EEEBDD 3px solid;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

button:hover{
    opacity: 0.5;
}

button:active {
    opacity: 0.9;
}

.dark{
    background-color: #181818;
    color: #e5d8bb;

    header{
        color: #e5d8bb;
    }

    header.change{
        background-color: rgba(125, 125, 125, 0.75);

        h1{
            color: #3f1419;
        }

        a{
            color: #4f1a20;
            text-decoration: none;
        }

        a:hover{
            color: #d6c7a8;
        }
    }

    .title{
        h1{
            border-bottom: 3px solid #e5d8bb;
        }
    }    
}

footer{
    background-color: #3f1419;
    text-align: center;
    color: #e5d8bb;
    font-size: 20px;
    padding: 20px;
}

.title{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;   
  
    h1{
      margin-top: 10%;
      font-size: 3em;
      font-weight: bolder;
      border-bottom: 3px solid #222;
      margin-bottom: 3%;
      text-align: center;
    }
}

#text{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    font-size: 18px;

    p{
        text-align: center;
    }
}