*{ /* universal selector */
    margin: 0;
    padding: 0;
}

html{ /* for the complete html page */
    scroll-behavior: smooth;
    height: 100%;
}

body{ /* for the complete body section */
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEBDD;
    font-family: "Bebas Neue", sans-serif;
}

header{ /* for styling the header */
    width: 100%;
    background-color: #3f1419;
    color: #e5d8bb;
    padding: 20px;
    position: fixed;
    z-index: 1;

    h1{
        text-align: center;
        padding-bottom: 5px;
        text-decoration: overline solid 2px;
        font-family: "Caveat", cursive;
    }

    ul{
        text-align: center;
    }

    li{
        display: inline;
        padding: 15px;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;

        a{
            color: #979494;
            text-decoration: none;
        }

        a:hover{
            color: #e1d6bd;
        }
    }
}

header.change{ /* for the changes in the header when the page is scrolled */
    width: 100%;
    background-color: rgba(250, 249, 234, 0.9);
    padding-top: 10px;
    padding-bottom: 10px;

    h1{
        color: #36161a;
    }
}

.change:hover a:hover{ /* for the changes in the header's nav links when the page is scrolled */
    opacity: 1;
    color: #8b464f;
}

.up{ /* styling the button that scrolls to the top of the page when pressed */
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    bottom: 32px;
    right: 40px;
    padding: 10px 15px;
    background-color: black;
    position: fixed;
    color: #EEEBDD;
    border-radius: 8px;
    border: #EEEBDD 3px solid;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.up:hover{
    opacity: 0.5;
}

.up:active {
    opacity: 0.9;
}

button{ /* styling the dark mode button */
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    position: fixed;
    top: 32px;
    right: 40px;
    padding: 10px 15px;
    background-color: black;
    color: #EEEBDD;
    border-radius: 8px;
    border: #EEEBDD 3px solid;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

button:hover{
    opacity: 0.5;
}

button:active {
    opacity: 0.9;
}

.dark{ /* for styling certain elements of the page when dark mode is on */
    background-color: #181818;
    color: #e5d8bb;

    header{
        color: #e5d8bb;
    }

    header.change{
        background-color: rgba(125, 125, 125, 0.75);

        h1{
            color: #3f1419;
        }

        a{
            color: #4f1a20;
            text-decoration: none;
        }

        a:hover{
            color: #d6c7a8;
        }
    }

    .title{
        h1{
            border-bottom: 3px solid #e5d8bb;
        }
    }

    .head{
        color: #e5d8bb;
        border-top: #e5d8bb solid 3px;
    }

    strong{
        text-decoration: overline solid 1px #e5d8bb;
        color: #e5d8bb;
    }

    td{
        color: #e5d8bb;
    }

    #menu{
        a{
            color: #e5d8bb;
        }

        a:hover{
            color: #925359;
            text-decoration: overline 2px solid #925359;
        }
    }

    .box{
        background-color: #252525; 
        border: solid 1px #e5d8bb;
    }
}

footer{ /* for styling the footer at the end of the page */
    font-family: "Bebas Neue", sans-serif;
    background-color: #3f1419;
    text-align: center;
    color: #e5d8bb;
    font-size: 20px;
    padding: 20px;
}

.title{ /* for styling the main title of the page */
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;   
    font-family: "Bebas Neue", sans-serif;
  
    h1{
      margin-top: 10%;
      font-size: 3em;
      font-weight: bolder;
      border-bottom: 3px solid #222;
      margin-bottom: 3%;
      text-align: center;
    }
}

.intro{ /* for styling the written text at the start */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;

    p{
        text-align: center;
    }
}

.head{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #561C24;
    margin-top: 40px;
    padding-bottom: 30px;
    border-top: #561C24 solid 3px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table{ /* to style the table and the elements in it */
    font-family: "Caveat", cursive;
    text-align: center ;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    border-spacing: 20px;

    
    td{
        width: 50%;
        text-align: center;
        color: #6c0909;

        strong{
            font-size: 20px;
            color: #6c0909;
            text-decoration: overline solid 1px #6c0909;
        }
    }
}

.box{
    padding: 10px;
    display: block;
    width: 70%;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: solid 1px black;
    border-radius: 5px;
}

#menu{
    width: 100%;
    font-size: 22px;
    font-family: "Bebas Neue", sans-serif;
    
    ul{
        text-align: center;
        padding-bottom: 20px;
    }

    li{
        display: inline;
        padding: 15px;
        text-align: center;
        text-decoration: none;

        a{
            text-decoration: none;
            color: #6c0909;
            font-weight: 700;
        }

        a:hover{
            cursor: pointer;
            text-decoration: overline 2px solid #561C24;
        }
    }
}